.ss-sidebar {
    grid-column: span 10 / span 10;
    position: sticky;
    top: var(--navbar-height);
    padding: 2rem 1rem;
    max-height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .ss-sidebar {
        grid-column: span 2 / span 2;
    }
}

.ss-sidebar .p-panelmenu-panel {
    border: none;
    font-size: .875rem;

    &:first-of-type {
        padding-top: 0;
    }
}

.ss-sidebar .p-panelmenu-content {
    padding-left: 0;
}

.ss-sidebar .p-submenu-list {
    margin-left: .5rem;
}

.ss-sidebar .p-menuitem {
    margin: 0;
}

.ss-sidebar .p-panelmenu-header-content a,
.ss-sidebar .p-menuitem-content a {
    display: flex;
    align-items: center;
    padding: .25rem 0;
    border: none;
    color: var(--text-color);
    font-size: var(--nav-font-size);
}

.ss-sidebar .p-panelmenu-header-content a {
    cursor: pointer;
}

.ss-sidebar .p-menuitem-content {
    background: none;
}

.ss-sidebar .p-menuitem-content a {
    padding-left: 1rem;
    border-left: 1px solid var(--border-color);
    color: var(--text-color-secondary);
    font-weight: normal;

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.ss-sidebar .p-panelmenu-header-content .ml-auto {
    margin-left: auto;
}