.ss-dropdown.sample {
    .ss-dropdown-wrapper {
        background: transparent;
        border-color: var(--primary-color);
    }

    .p-dropdown-label {
        color: var(--primary-color);
        font-weight: 500;
    }

    .p-dropdown-trigger {
        color: var(--primary-color);
    }
}