.ss-dropdown {
    line-height: normal;
}

.ss-dropdown .p-dropdown-label {
    font-size: var(--font-size-s);
}

.ss-dropdown-panel {
    line-height: normal;
}

.ss-dropdown-panel .p-dropdown-item-label {
    font-size: var(--font-size-s);
}