@import "./components/heading.scss";
@import "./components/page-header.scss";
@import "./components/container.scss";

body {
    color: var(--text-color);
}

.scheme-img p {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}