.ss-page-header {
    padding: 2rem 0;
    border-bottom: 1px dashed var(--border-color);
}

.ss-page-header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.ss-page-header-title + .ss-page-header-description {
    padding-top: .5rem;
}

.ss-page-header-title h1 {
    margin: 0;
    font-size: 2rem;
    line-height: normal;
}

.ss-page-header-description {
    margin: 0;
    font-size: 1.125rem;
    color: var(--text-color-secondary);
}